<!DOCTYPE html>
<html>
<head>
	<title>Seminyak Clean, your main </title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/app.css">
</head>
<body>

<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Seminyak Clean</a>
			</div>
			<ul class="nav nav-tabs nav-justified">
		  		<li role="presentation" class="active"><a href="/customers">Customers</a></li>
		  		<li role="presentation"><a href="#">Payments</a></li>
		  		<li role="presentation"><a href="#">Map</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/">Sign in</a></li>
				<li><a href="/">Log out</a></li>
			</ul>
		</div>	
	</div>	
</nav>
